#container {
  max-width: 1600px;
  width: 100%;
  margin: auto;
}
body {
  font-family: sans-serif;
}
#mafoot1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f3e7e0;
  font-family: sans-serif;
}

#mafoot1 > p:nth-child(1) {
  font-weight: 500;
}

#mafoot1 > p:nth-child(2) {
  font-size: 13.5px;
}

#mafoot1 a {
  color: black;
  font-size: 16px;
}
#mamain {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
#malist1 {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#malist2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#malist3 {
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#malist3 {
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
}
#malist3 input {
  padding: 10px;
  margin-top: 10px;
  width: 320px;
  font-size: 14px;
}

#malist4 {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#malist5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#macopy {
  margin-left: 90px;
  margin-top: 20px;
  font-size: 12px;
  color: gray;
}
#maheadings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#maheadings > p:nth-child(1) {
  font-weight: 550;
  font-size: 33px;
  margin-bottom: 0px;
  letter-spacing: 1.5px;
}
#maheadings > p:nth-child(2) {
  font-weight: 800px;
  font-size: 27px;
  letter-spacing: 1.5px;
}
#maimg1 img {
  margin-bottom: 15px;
}
#ma1 {
  width: 1570px;
  padding: 13px;
  border: 2px solid black;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
}
#masignin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0px 100px;
  margin-top: -30px;
  margin-bottom: -10px;
}

#masignin p {
  font-size: 40px;
  font-weight: bolder;
}
#maforms {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 40px;
}
#masignin1 {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 18px;
}

input {
  padding: 10px;
}

#masmall {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#maradios {
  display: flex;
  gap: 20px;
}

#map1,
#map1 ~ ul {
  margin: 0px;
  font-size: 12px;
}
#malistul > li {
  margin-left: -30px;
  margin-bottom: 5px;
}
.mabtn {
  background-color: black;
  color: white;
  padding: 17px;
  font-size: 15px;
  font-weight: 600;
}

#materms {
  font-size: 13px;
  text-align: center;
  margin-top: 150px;
}

.maclr {
  color: red;
  text-decoration: underline;
}
#mabox {
  font-size: 13px;
}
#mabox2 {
  display: block;
  gap: 5px;
}
